html,
body,
#map {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#map:-moz-full-screen {
	height: 100%;
}

#map:-webkit-full-screen {
	height: 100%;
}

#map:-ms-fullscreen {
	height: 100%;
}

.ol-zoom {
	top: 90%;
}

#map:fullscreen {
	height: 100%;
}

/*左上列表*/
.left-panel {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 210px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.left-tree-header {
	width: 100%;
	height: 40px;
	line-height: 45px;
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.8);
}

.left-tree-header>span {
	padding: 3px 12px;
	border-bottom: 1px solid gray;
}

.switch-btn {
	position: absolute;
	left: 200px;
	top: 0px;
	width: 12px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	padding: 0;
	border-right: 3px solid #000000;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.switch-btn>span {
	position: absolute;
	right: -3px;
	width: 12px;
	height: 120px;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-items: center;
	align-content: center;
	background-color: rgba(0, 123, 255, 0.3);
	border: 1px solid rgba(0, 123, 255, 0.8);
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	color: #007BFF;
	cursor: pointer;
}

.switch-btn>span>span {
	width: 10px;
	height: 120px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
}


.leftMenu {
	background-color: rgba(0, 0, 0, 0.5);
}

.leftMenu .panel-heading {
	font-size: 14px;
	padding-left: 20px;
	height: 36px;
	line-height: 36px;
	color: #000000;
	position: relative;
	cursor: pointer;
}

.leftMenu .panel-heading span {
	position: absolute;
	right: 10px;
	top: 12px;
}

/*转成手形图标*/
.leftMenu .list-group-item {
	cursor: pointer;
	color: #FFFFFF;
	border: 0;
	border-bottom: 1px solid #ddd;
	background-color: rgba(0, 0, 0, 0.5);
}


/*下拉菜单按钮 dropdown menu   style*/
.tab-btns {
	position: absolute;
	top: 12px;
	right: 200px;
	display: flex;
	flex-direction: row;
	border: 1px rgba(255, 255, 255, 0.5) solid;
	color: #FFFFFF;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.9);
}

.tab-btns>div {
	height: 26px;
	padding: 0 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 13px;
}

/*下拉列表*/
.tab-btns>div>div:nth-child(2) {
	position: absolute;
	top: 30px;
	display: flex;
	flex-direction: column;
	width: 95px;
	display: none;
	background-color: rgba(240, 248, 255, 0.2);
}

.tab-btns>div>div:nth-child(2)>div:hover {
	background-color: rgba(0, 123, 255, 0.5);
}

.tab-btns>div>div:nth-child(2)>div {
	/* margin: 1px 0; */
	height: 26px;
	line-height: 26px;
	text-indent: 4px;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.tab-btns>div>div:nth-child(2)>div>span:last-of-type {
	margin-left: 5px;
}

.tab-btns>div>div>span:nth-child(2) {
	margin-left: 5px;

}

.tab-btns>div {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.tab-btns>div:last-of-type {
	border-right: 0;
}

/* 右上定点按钮*/
.btnIntraction {
	position: absolute;
	right: 12px;
	top: 18px;
	/* display: none; */
}

/*popover */

.popover {
	padding: 0;
}

.popover-content {
	min-width: 180px;
	font-size: 12px;
	padding: 0;
}

.popover-content>div:first-of-type {
	padding: 5px;
	height: 28px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	background-color: rgba(176, 196, 222, 0.5);
}

.popover-content>div:nth-child(2) {
	padding: 4px 8px;

}



.pop-del {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 10px;
	color: red;
	cursor: pointer;
}

.geometryType {
	position: absolute;
	right: 12px;
	top: 18px;
}

#checkPanel {
	position: absolute;
	right: 8px;
	top: 88px;
	padding: 12px 8px;
	background-color: rgba(255, 255, 220, 0.5);
}

/*measure */
.tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}

.tooltip-measure {
	opacity: 1;
	font-weight: bold;
}

.tooltip-static {
	background-color: #ffcc33;
	color: black;
	border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
	border-top: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}

.tooltip-static:before {
	border-top-color: #ffcc33;
}

.table-field {
	position: absolute;
	right: 5px;
	bottom: 2px;
	width: 600px;
	max-height: 300px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	font-size: 13px;
	
	overflow: hidden;
	display: none;
	z-index: 3;
}
.table-responsive{
	height: 100%;
	padding-bottom: 4px;
	overflow-y:scroll;
}
.table-field-title {
	padding: 3px 3px 3px 3px;
}

.btn_oper_table {
	position: absolute;
	bottom: 8px;
	right: 8px;
	z-index: 3;
	height: 22px;
	width: 22px;
	color: #ddd;
	font-size: 18px;

}
